<div class='row-fluid'>
  <% @plans.each do |plan| %>
    <a href='/p/<%= plan.link %>' class='pops' rel='popover' data-placement='top' data-trigger='hover' data-content="<img src='<%= plan.image %>'/>"><%= plan.title %></a>
  <% end %>
</div>
